.customer__edit {
  border-left: 1px solid #ccc;
}

.customer__edit form {
  padding: 20px;
}

.customer__edit--center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer__edit--right,
.customer__edit--left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.customer__edit--file {
  cursor: pointer;
  position: relative;
}

.customer__edit--file i {
  color: var(--primary-color);
  position: absolute;

  font-size: 32px;
  top: 85%;
  right: 16%;
}

.customer__edit--right {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.customer__edit--left label,
.customer__edit--right label {
  margin: 20px 0 5px;
  font-weight: 600;
  font-size: 18px;
}

.customer__edit--input {
  height: 40px;
  width: 80%;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
}

.customer__edit--select.customer__edit--error,
.customer__edit--input.customer__edit--error {
  border: 1px solid red;
  color: red;
}

.customer__edit--select {
  margin-bottom: 3px;
  height: 40px;
  width: 80%;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
}

.customer__address--text {
  margin-bottom: 3px;
  height: 40px;
  width: 80%;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
}

.customer__edit--right-gender input {
  cursor: pointer;
}

.customer__edit--right-gender label {
  margin-right: 20px;
}

.customer__edit--button {
  height: 40px;
  width: 80%;
  margin-top: 20px;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
}

.customer__edit--button:hover {
  opacity: 0.9;
}

.error__message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.error__block {
  border: 1px solid red !important;
}
