.product__comment--wrap {
  padding: 0 10px;
  margin-top: 20px;
}

.product__comment--title {
  font-weight: 600;
}

.product__comment--list {
  list-style: none;
  border-radius: 10px;
  /* max-height: 360px;
  overflow-y: scroll; */
}

.product__comment--nav--wrap {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #ccc;
}

.product__comment--nav {
  display: flex;
  width: 18%;
  height: 100%;
  color: #646464;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.product__comment--nav button {
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  border: none;
  font-size: 16px;
}

.product__comment--nav button:hover {
  color: var(--primary-color);
}

.product__comment--nav button.comment__active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}

.product__comment--item {
  padding: 20px;
  background-color: white;
}

.product__comment--name {
  font-weight: 600;

  margin-bottom: 10px;
}

.product__comment--date {
  font-size: 14px;
  color: #7a7e7f;
}

.product__comment--content {
  color: #333;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}

.product__comment--star {
  margin-bottom: 10px;
}

.product__comment--star i {
  font-size: 14px;
  color: #ccc;
}

.product__comment--icons {
  margin-top: 20px;
  color: #7a7e7f;
  font-size: 14px;
}

.product__comment--icon {
  margin-right: 5px;
  cursor: pointer;
}

.product__comment--icon-active {
  margin-right: 5px;
  color: #f6a500;
}

.product__comment--icon-span {
  margin-right: 20px;
  cursor: pointer;
}

.product__comment--icon-span-active {
  margin-right: 20px;
  color: #f6a500;
  cursor: pointer;
}

.product__comment--icon-report {
  cursor: pointer;
  margin-right: 20px;
}

.comment__trash {
  font-size: 20px;
  cursor: pointer;
}
