.list {
  width: 100%;
}
.list__title {
  display: flex;
  align-items: center;
}

.list__title p {
  margin-right: 10px;
}

.list__title select {
  height: 40px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.list__title i {
  color: var(--primary-color);
  margin-right: 10px;
}

.list__container {
  margin-top: 20px;
  padding-bottom: 10px;
}

.list__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.list__btn button {
  width: 170px;
  height: 40px;
  color: var(--primary-color);
  border: none;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.list__btn button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color);
  top: 0;
  left: 0;
  border-radius: 10px;
  transition: 0.1s linear;
}

.list__btn button:hover::after {
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;
}
