.customer__account {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ccc;
}

.customer__account form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.customer__account form label {
  padding: 20px 20px 5px;
  font-size: 18px;
  font-weight: 600;
}

.customer__account--input {
  outline: none;
  border: 1px solid #ccc;
  height: 40px;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 10px;
}

.customer__account--btn {
  margin-top: 20px;
  height: 40px;
  background: var(--primary-color);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.customer__account--btn:hover {
  opacity: 0.9;
}

.password__block {
  width: 100%;
  height: 40px;
  display: flex;

  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}

.password__block input {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  font-size: 16px;
  outline: none;
  border: none;
}

.password__block i {
  font-size: 20px;
  cursor: pointer;
  padding-right: 15px;
  transition: 0.2s;
}

.password__block i:hover {
  color: var(--primary-color);
}

.error__message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

.error__block {
  border: 1px solid red !important;
}
