.product__desc--content {
  padding: 20px;
  font-size: 15px;
  max-height: 150px;
  overflow: hidden;
  /* transition: 0.3s linear; */
}

.product__desc--content-active {
  padding: 20px 20px 0;
  font-size: 15px;
  /* transition: 0.3s linear; */
}

.product__desc--content,
.product__desc--content-active p {
  /* text-align: justify; */
  word-spacing: 2px;
  color: #333;
}

.product__desc--btn {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product__desc--btn button {
  border: 1px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
  transition: 0.3s linear;
}

.product__desc--btn-active {
  background-color: var(--primary-color) !important;
  color: white !important;
}
