.product__info--content {
  padding: 20px;
}

.product__info--top {
  display: flex !important;
}

.product__info--top p {
  display: flex;
  align-items: center;
  font-size: 15px;
  height: 50px;

  padding-bottom: 10px;
  color: #333;
}

.product__info--top-left {
}
