.cart__content {
  width: 100%;
  height: 100%;
}

.cart__content--title {
  font-size: 18px;
  padding-left: 0 !important;
}

.cart__content--title input {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.cart__content--container-list {
  list-style: none;
}

.cart__content--container-item {
  padding: 20px 0;
}

.cart__item--no-check {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  display: none;
}

.cart__item--check {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

.cart__item--no-check:hover {
  width: 25px;
  height: 25px;
  transition: 0.1s linear;
}

.cart__content--container-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__title {
  font-weight: 600;
}

.info__money {
  display: flex;
  align-items: center;
}

.info__money--all {
  margin-right: 20px;
  font-weight: 600;
}

.info__money--discount {
  font-size: 14px;
  text-decoration: line-through;
  color: #ccc;
}

.cart__content--container-item-quality {
  font-size: 18px;
}

.cart__content--container-item-quality div {
  border: 1px solid #ccc;
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cart__content--container-item-money {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-color);
}
.cart__content--container-item-delete {
  /* font-size: 16px; */
  cursor: pointer;
  transition: 0.3s linear;
}

.cart__content--container-item-delete:hover {
  color: var(--primary-color);
}

.cart__content--container-item-trash {
  font-size: 20px;
  transition: 0.3s linear;
}

.cart__content--container-item-trash:hover {
  color: var(--primary-color);
  cursor: pointer;
}
