@media screen and (min-width: 768px) and (max-width: 1023px) {
  .customer__modal--title {
    font-size: 16px;
  }

  .cart__content--container-item-quantity-middle {
    display: flex !important;
  }
}

@media screen and (max-width: 767px) {
  .img__main {
    width: 90px;
    height: 90px;
  }
  .customer__modal--title {
    font-size: 16px;
  }

  .cart__content--container-item-quantity-middle {
    width: 80px !important;
    display: flex !important;
  }

  .customer__modal {
    width: 100% !important;
  }
}

@media screen and (max-width: 320px) {
  .cart__item--check {
    width: 20px;
    height: 20px;
  }

  .cart__item-img {
    width: 70px;
    height: 70px;
  }

  .cart__item-img img {
    width: 70px;
    height: 70px;
  }

  .card__pay--content-btn .router-btn {
    width: 80% !important;
  }
}
