.top__post {
}

.top__post--center {
  padding-left: 5px;
}

.top__post--title {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.top__post--title:hover {
  color: var(--primary-color);
}

.top__post--desc {
  padding-top: 10px;
  font-size: 14px;
  color: #7f7f7f;
}

.top__post--left {
  margin-bottom: 20px;
}

.top__post--left-title {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.top__post--left-title:hover {
  color: var(--primary-color);
}
