@media screen and (min-width: 768px) and (max-width: 1023px) {
  .list__item--percent {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .list__btn--wrap {
    height: 30px;
  }

  .list__btn {
    font-size: 14px;
  }
}
