.filer {
  padding-bottom: 0 !important;
}

.filer div {
  height: 60px;
}

.filer__list {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.filer__list div {
  height: 100%;
  flex: 1;
}

.filer__list--item {
  padding: 10px;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  transition: 0.3s linear;
}

.filer__list--item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  top: 94%;
  left: 0;
  background-color: var(--primary-color);
  transition: 0.3s linear;
}

.filer__list--item:hover {
  border: 1px solid var(--primary-color);
}

.filer__list--item:hover::after {
  width: 100%;
}

.filter__active .filer__list--item::after {
  width: 100%;
}
