.filter {
  border-radius: 0;
}

.filter__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.filter__list div {
  height: 100%;
  flex: 1;
}

.filter__list--item {
  width: 100%;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.filter__list--item h2 {
  padding: 5px;
}

.filter__list--item ul {
  list-style: none;
}

.filter__list--item ul li {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 15px;
}

.filter__list--item-li {
  padding-left: 10px;
  cursor: pointer;
}

.filter__list--item ul li:hover {
  color: var(--primary-color);
}

.filter__list--item ul li.active {
  color: var(--primary-color);
}
