@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media (max-width: 767px) {
  .filter {
    position: fixed;
    z-index: 99;
    width: 100%;
    border: 1px solid #ccc;
    /* transform: translateX(-100%); */
    transition: 0.2s;
  }

  .filter__mobile {
    transition: 0.2s;
    transform: translateX(-100%);
  }

  .filter__menu {
    position: absolute;
    top: 135px;
    right: 25px;
    font-size: 25px;
  }

  .filter__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 25px;
    color: var(--primary-color);
  }
}
