/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
}

/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo--img {
    width: 130px;
    height: 30px;
  }

  .header__icon i {
    font-size: 25px;
  }

  .header__center {
    flex: 2.5 1;
  }
  .header__icon--total {
    right: -9px;
  }

  .header__icon--total-cart {
    right: -9px;
  }

  .header__right i {
    margin-left: 10px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .header__content {
    height: 100px;
    flex-wrap: wrap;
  }

  .header__left {
    height: 50%;
    justify-content: center;
  }

  .header__center {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
  }
  .header__center--input {
    width: 100%;
    background-color: #fff;
  }

  .header__right {
    height: 50%;
    justify-content: space-around;
    background-color: var(--primary-color);
  }

  .header__icon {
    font-size: 25px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
  .header__icon i {
    color: white;
  }

  .header__icon--total {
    border: 1px solid #ccc;
    background-color: #2ed62e;
    color: white;
    font-weight: 700;
    right: -8px;
  }

  .header__input--history {
    top: 100%;
    width: 150%;
  }

  .history__overlay {
    top: 110px;
    z-index: 100;
  }
}
