.customer__info {
  display: flex;
  align-items: center;
  border-left: 1px solid #ccc;
  justify-content: space-around;
}

.customer__info--avatar {
  object-fit: contain;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.customer__info--info {
  margin-left: 20px;
  font-size: 18px;
}

.customer__info--info p {
  padding: 10px 0;
}

.customer__info--info i {
  margin-right: 20px;
}
