/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {
  .slide {
    height: 230px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .slide__img {
    height: 230px;
  }
}

@media screen and (max-width: 320px) {
  .slide {
    height: 165px;
  }
  .slide__img {
    height: 165px;
  }
}
